@model ITNewsService.Models.NewsViewModel

<div class="panel widget">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-comment"></span>
        <h3 class="panel-title text-muted">
            <b>Comments</b>
        </h3>
        <span class="text-muted" style="float: right;">
            <b>Total comments @Model.NuberOfComments</b>
        </span>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 col-md-1">
                        <img src="~/Content/img/profile.png" class="img-circle img-responsive" alt="" />
                    </div>
                    <div class="col-xs-10 col-md-11">
                        <div>
                            <div class="mic-info">
                                By: <b>Bhaumik Patel</b> on 2 Aug 2013
                            </div>
                        </div>
                        <div class="comment-text">
                            Awesome design
                        </div>
                        <div class="action">
                            <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 col-md-1">
                        <img src="~/Content/img/profile.png" class="img-circle img-responsive" alt="" />
                    </div>
                    <div class="col-xs-10 col-md-11">
                        <div>
                            <div class="mic-info">
                                By: <b>Bhaumik Patel</b> on 11 Nov 2013
                            </div>
                        </div>
                        <div class="comment-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                        </div>
                        <div class="action">
                            <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 col-md-1">
                        <img src="~/Content/img/profile.png" class="img-circle img-responsive" alt="" />
                    </div>
                    <div class="col-xs-10 col-md-11">
                        <div>
                            <div class="mic-info">
                                By: <b>Bhaumik Patel</b> on 11 Nov 2013
                            </div>
                        </div>
                        <div class="comment-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                        </div>
                        <div class="action">
                            <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>